.Input {
  position: relative;

  &__input {
    display: block;
    padding: 1rem;
    background-color: #fff;
    -webkit-appearance: none;
    outline: none;
    letter-spacing: -0.5px;
    border: 0.1rem solid #000;
    border-radius: 0.5rem;
    transition: all 0.25s;
  }

  &__searchIcon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    fill: #ccc;
  }
}
